pipeline/pip_lkp_value_CopyAll_Table_HR_to_ADLS.json
{
	"name": "pip_lkp_value_CopyAll_Table_HR_to_ADLS",
	"properties": {
		"activities": [
			{
				"name": "LookupCopyAllTableHRtoADLS",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": "select owner , TABLE_NAME from all_tables where OWNER = 'HR';\n\n",
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "Oracle_HR_ParamTableName",
						"type": "DatasetReference",
						"parameters": {
							"SourceTableName": "countries"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachCopyAllTableHRtoADLS",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupCopyAllTableHRtoADLS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupCopyAllTableHRtoADLS').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "OracleSource",
									"partitionOption": "None",
									"queryTimeout": "02:00:00"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings",
										"copyBehavior": {
											"value": "@concat(item().TABLE_NAME,'.csv')",
											"type": "Expression"
										}
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "Oracle_Param_Schema_Param_Table",
									"type": "DatasetReference",
									"parameters": {
										"SourceTableName": {
											"value": "@item().TABLE_NAME",
											"type": "Expression"
										},
										"SchemaName": {
											"value": "@item().OWNER",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "TGT_data_target_ParamFileName",
									"type": "DatasetReference",
									"parameters": {
										"DataSetParamFileName": "hr_all_tables.csv"
									}
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "PipeLineCopy"
		},
		"annotations": [],
		"lastPublishTime": "2025-01-01T16:32:01Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}