pipeline/pip_Setvar1_AppendVariable_Setvar2_Setvar3.json
{
	"name": "pip_Setvar1_AppendVariable_Setvar2_Setvar3",
	"properties": {
		"activities": [
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "ArrayVar1",
					"value": {
						"value": "@variables('Arrayvar')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Append variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "ArrayVar1",
					"value": {
						"value": "@variables('Arrayvar')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Append variable1",
				"type": "AppendVariable",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Arrayvar",
					"value": {
						"value": "@int(5)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable3",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set variable2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "var3",
					"value": {
						"value": "@{variables('ArrayVar1')[0]}",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"Arrayvar": {
				"type": "Array",
				"defaultValue": [
					1,
					2,
					3,
					4
				]
			},
			"ArrayVar1": {
				"type": "Array"
			},
			"var3": {
				"type": "String"
			}
		},
		"folder": {
			"name": "PipeLineCopy"
		},
		"annotations": [],
		"lastPublishTime": "2025-01-01T16:32:01Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}