pipeline/pip_lkp_Query_Values_SourceData_Sink_FileCreation.json
{
	"name": "pip_lkp_Query_Values_SourceData_Sink_FileCreation",
	"properties": {
		"activities": [
			{
				"name": "LookupNewConfiguration",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": "SELECT * FROM CONFIGURATION ",
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "Oracle_HR_ParamTableName",
						"type": "DatasetReference",
						"parameters": {
							"SourceTableName": "countries"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachNewConfiguration",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupNewConfiguration",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupNewConfiguration').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "CopyDataForEachNewConfiguration",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "OracleSource",
									"oracleReaderQuery": {
										"value": "@item().query",
										"type": "Expression"
									},
									"partitionOption": "None",
									"convertDecimalToInteger": false,
									"queryTimeout": "02:00:00"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "Oracle_hr_param_Table",
									"type": "DatasetReference",
									"parameters": {
										"DTSourceTableName": {
											"value": "@item().sourcetable",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "TGT_data_target_Configuration_ParamFile",
									"type": "DatasetReference",
									"parameters": {
										"DT_TargetFileName": {
											"value": "@concat(item().TARETTABLE,'.csv')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "PipeLineCopy"
		},
		"annotations": [],
		"lastPublishTime": "2025-01-01T16:32:01Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}