pipeline/pip_Copy_SRC_to_Archive_CopytoSink_DeleteSourceFF.json
{
	"name": "pip_Copy_SRC_to_Archive_CopytoSink_DeleteSourceFF",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "CopyDataSourceToArchive",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SRC_data_source_Month_Of_10_as_October_csv",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "TGT_ParamaFolder_ParamTargetFile",
						"type": "DatasetReference",
						"parameters": {
							"FileNameDataSetParamTarget": {
								"value": "@variables('FileNameVarTarget')",
								"type": "Expression"
							},
							"PathDataSetParamTargetFile": {
								"value": "@variables('PathVarTargetFile')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "DeleteSourceHrSchemaFiles",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "SRC_data_source_Month_Of_10_as_October_csv",
						"type": "DatasetReference"
					},
					"logStorageSettings": {
						"linkedServiceName": {
							"referenceName": "MyNewLinkService",
							"type": "LinkedServiceReference"
						}
					},
					"enableLogging": true,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"wildcardFileName": "Jobs.csv",
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "CopyDataSourceToArchive",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SRC_data_source_Month_Of_10_as_October_csv",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "TGT_ParamaFolder_ParamTargetFile",
						"type": "DatasetReference",
						"parameters": {
							"FileNameDataSetParamTarget": {
								"value": "@variables('FileNameVarTarget')",
								"type": "Expression"
							},
							"PathDataSetParamTargetFile": {
								"value": "@concat(utcNow())",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "CopyDataSourceToArchive",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "FileNameVarTarget",
					"value": {
						"value": "@concat(concat('Archive_File_',utcNow()),'.csv')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"FileNameVarTarget": {
				"type": "String",
				"defaultValue": "Delete_Activity.csv"
			},
			"PathVarTargetFile": {
				"type": "String",
				"defaultValue": "target/Hr_Schema"
			}
		},
		"folder": {
			"name": "PipeLineCopy"
		},
		"annotations": [],
		"lastPublishTime": "2025-01-01T16:32:01Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}